<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylsheet" href="styles.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <nav class="hero">
            <div class="container nav_container">
                <div class="logo">
                    <h2 class="logo_name">Porteño Apartments</h2>
                </div>
                <div class="links">
                    <a href="#" class="link">Inicio</a>
                    <a href="#" class="link">Propiedades</a>
                    <a href="#" class="link">Reservas</a>
                    <a href="#" class="link">Quienes Somos</a>
                    <a href="#" class="link">Preguntas Frecuentes</a>
                    <a href="#" class="link">Preguntas Frecuentes</a>
                    <a href="#" class="link">Condiciones Generales</a>
                    <a href="#" class="link link--active">Contacto</a>
                </div>

            </div>
        </nav>

        <section class="container hero__main">
            <div class="hero__textos">
                <h1 class="title">Los Mejores<span class= "title active">Alquileres Temporarios</span></h1>
                <a class=""></a>
            </div>
            <div class="">
                <input
                  class="search-bar"
                  type="text"
                  placeholder="Buscar productos, marcas"
                />
                <input
                class="search-bar"
                type="text"
                placeholder="Buscar productos, marcas"
              />
              <input
              class="search-bar"
              type="text"
              placeholder="Buscar productos, marcas"
            />
              </div>
        </section>
    </header>
    <main>
        <section class="servicios">
            <div class="container">
                <h2 class="subtitle">Nuestros Servicios</h2>
                <p class="copy__section">Servicios que harán de tu estadía una experiencia única</p>

                <article class="container-cards">
                    <div class="card">
                        <!-- pongo la imagen -->
                    </div>
                    <div class="cards__text">
                        <h3 class="card__title">Servicio al cliente excepcional</h3>
                        <p class="card__copy">Nos enorgullece ofrecer un servicio al cliente de alta calidad en todo momento. Nos aseguramos de que nuestras propiedades estén impecables para su llegada y estamos disponibles las 24 horas del día para responder cualquier pregunta o inquietud que pueda tener.</p>
                    <a href="#" class="card__button">Comunicate</a>
                    </div>
                    <div class="card">
                        <!-- pongo la imagen -->
                    </div>
                    <div class="cards__text">
                        <h3 class="card__title">Seguridad 24/7</h3>
                        <p class="card__copy">En Porteño Apartments nos tomamos muy en serio tu seguridad. Por eso, ofrecemos un servicio de vigilancia 24/7 para que puedas disfrutar de tu estadía con total tranquilidad.</p>
                    <a href="#" class="card__button">Comunicate</a>
                    </div>

                    <div class="card">
                        <!-- pongo la imagen -->
                    </div>
                    <div class="cards__text">
                        <h3 class="card__title">Soporte en todo momento</h3>
                        <p class="card__copy">Desde el momento en que realiza su reserva, nuestro equipo está disponible para ayudarlo en todo lo que necesite. Desde brindar recomendaciones sobre los mejores lugares para visitar en la ciudad hasta solucionar cualquier problema que pueda surgir, nos aseguramos de que tenga el mejor soporte en todo momento.</p>
                    <a href="#" class="card__button">Comunicate</a>
                    </div>
                </article>
            </div>
        </section>
        <section class="propiedades">
            <h2 class="subtitles">Nuestras Propiedades</h2>
            <article class=" containet slider">
            <!-- Aca iria el slider de Propiedades -->
        </article>
        </section>
        <section class="email container container--modifier">
            <h2 class="subtitle subtitle--modifier">Somos tu mejor opcion para Alquileres Temporarios</h2>
            <p class="copy__section copy__section--modifier">Como una empresa de alquileres temporarios con sede en Buenos Aires, ofrecemos una experiencia auténtica y local para nuestros clientes. Nuestro equipo está formado por personas que conocen y aman la ciudad, y están dispuestos a compartir sus conocimientos para hacer que su estancia sea única e inolvidable.</p>
            <form class="newsletter">
                <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                <input type="submit" class="newsletter__submit" value="Comienza">
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Porteño Apartments</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Acerca de Nosotros</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contacto</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Propiedades</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="footer__copy container">
            <div class="socialmedia">
                <i class='socialmedia__icon bx bxl-instagram'></i>
                <i class='socialmedia__icon bx bxl-facebook-circle' ></i>
            </div>
            <h3 class="footer__copyright">Derechos reservados &copy;</h3>
        </section>



    
</body>
</html>