<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porteño Apartments</title>
    <link rel="stylesheet" href="styles.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>


</head>
<body>
    <header class="hero">
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Porteño Apartments<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <a href="#" class="link">Inicio</a>
                    <a href="#" class="link">Propiedades</a>
                    <a href="#" class="link">Reservas</a>
                    <a href="#" class="link">Quienes Somos</a>
                    <a href="#" class="link">Preguntas Frecuentes</a>
                    <a href="#" class="link">Condiciones Generales</a>
                    <a href="#" class="link link--active">Contacto</a>
                    <a href="#" class="link link--active"><i class='bx bxs-user-circle'></i> Iniciar Sesion</a>
                </div>
            </div>
        </nav>
        <section class="container hero__main">
            <div class="hero__textos">
                <h1 class="title">Los Mejores<span class= "title active"> Alquileres Temporarios</span></h1>
            </div>
            <div class="hero__slider">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>

        </section>
    </header>
    <main>
        <section class="servicios">
            <div class="container">
                <h2 class="subtitle">Nuestros Servicios</h2>
                <p class="copy__section">Servicios que harán de tu estadía una experiencia única</p>

                <article class="container-cards">
                    <div class="card">
                        <img src="" class="card__img"></img>
                        <!-- pongo la imagen -->
                    <div class="cards__text">
                        <h3 class="card__title">Servicio al cliente excepcional</h3>
                        <p class="card__copy">Nos enorgullece ofrecer un servicio al cliente de alta calidad en todo momento. Nos aseguramos de que nuestras propiedades estén impecables para su llegada y estamos disponibles las 24 horas del día para responder cualquier pregunta o inquietud que pueda tener.</p>
                        <a href="#" class="card__button">Comunicate</a>
                    </div>
                    </div>
                    <div class="card">
                        <img src="" class="card__img"></img>
                        <!-- pongo la imagen -->
                    <div class="cards__text">
                        <h3 class="card__title">Seguridad 24/7</h3>
                        <p class="card__copy">En Porteño Apartments nos tomamos muy en serio tu seguridad. Por eso, ofrecemos un servicio de vigilancia 24/7 para que puedas disfrutar de tu estadía con total tranquilidad.</p>
                        <a href="#" class="card__button">Comunicate</a>
                    </div>
                    </div>

                    <div class="card">
                        <img src="" class="card__img"></img>
                        <!-- pongo la imagen -->
                    <div class="cards__text">
                        <h3 class="card__title">Soporte en todo momento</h3>
                        <p class="card__copy">Desde el momento en que realiza su reserva, nuestro equipo está disponible para ayudarlo en todo lo que necesite. Desde brindar recomendaciones sobre los mejores lugares para visitar en la ciudad hasta solucionar cualquier problema que pueda surgir, nos aseguramos de que tenga el mejor soporte en todo momento.</p>
                    <a href="#" class="card__button">Comunicate</a>
                    </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="propiedades">
            <div class="container">
            <h2 class="subtitles">Nuestras Propiedades</h2>
            <article class=" container slider">
            <!-- Aca iria el slider de Propiedades -->
        </article>
    </div>
        </section>
        <section class="email container container--modifier">
            <h2 class="subtitle subtitle--modifier">Somos tu mejor opcion para Alquileres Temporarios</h2>
            <p class="copy__section copy__section--modifier">Como una empresa de alquileres temporarios con sede en Buenos Aires, ofrecemos una experiencia auténtica y local para nuestros clientes. Nuestro equipo está formado por personas que conocen y aman la ciudad, y están dispuestos a compartir sus conocimientos para hacer que su estancia sea única e inolvidable.</p>
            <form class="newsletter">
                <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                <input type="submit" class="newsletter__submit" value="Comienza">
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Porteño Apartments</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Acerca de Nosotros</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contacto</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Propiedades</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="footer__copy container">
            <div class="socialmedia">
                <i class='socialmedia__icon bx bxl-instagram'></i>
                <i class='socialmedia__icon bx bxl-facebook-circle' ></i>
            </div>
            <h3 class="footer__copyright">Derechos reservados &copy;</h3>
            <p>hola</p>
        </section>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>